@use "../abstracts/" as vp;
.hero{
    display: flex;
    &_content{
        width: 50%;
        
        h1{
            font-family: vp.$font-title;
            color: vp.$white;
            font-size: 6rem;
            line-height: 7rem;
            font-weight: 600;
            margin: 0;
            margin-bottom: 30px;
            margin-top: 1.8rem;
        }
        p{
           color: rgba(vp.$white, 0.5); 
           font-size: 2rem;
           margin: 0;
           width: 100%;
           max-width: 45ch;
           line-height: 3rem;
           font-weight: 300;
           text-align: justify;
           margin-bottom: 20px;
        }
        div{
            ul{
                @include vp.reset-list();
                justify-content: flex-start;
                gap: 3.2rem;
                li{
                    a{
                        &.button:hover{
                            color: vp.$gray;
                        }
                    }
                    &:nth-of-type(2){
                        a{
                            display:inline-flex;
                            align-items: center;
                            color: white;
                            gap: 0.8rem;
                            text-decoration: underline;
                            font-weight: 600;
                            
                            &:hover{
                                color: vp.$gray;
                                text-decoration: none;
                            }
                            
                        }

                   }
                       
                }
            }
        }
    }
    &_image{
        width: 50%;
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3,13rem);
        justify-content: center;
        gap: 1.6rem;
        position: relative;
        
        &::before{
            position: absolute;
            content: "";
            top: 90%;
            left: 75%;
            transform: translate(-50%,-50%) rotate(-55deg);
            width: 70rem;
            height: 70rem;
            border:1px solid rgba(vp.$gray-light, 0.25);
            border-left: 1px rgba(vp.$gray-light, 0.25);
            border-right: 1px solid rgba(vp.$gray-light, 0.25);
            border-bottom: 1px solid transparent;
            border-radius: 50%;
        }
        &::after{
            position: absolute;
            content: "";
            top: 103%;
            left: 82%;
            transform: translate(-50%,-50%) rotate(-54deg);
            width: 50rem;
            height: 50rem;
            border-top:1px solid rgba(vp.$gray-light, 0.25);
            border-left: 1px rgba(vp.$gray-light, 0.5);
            border-right: 1px solid rgba(vp.$gray-light, 0.25);
            border-bottom: 1px solid transparent;
            border-radius: 50%;
            z-index: -1;
        }
        &_1{
          @include vp.image-position(vp.$purple);
          grid-area: 1 / 1 / span 3 / span 1;
        }
        &_2{
            @include vp.image-position(vp.$blue);
            grid-area: 1 / 2/ span 1 / span 1;
            height: 14rem;
            img{
                top: 38%;
                transform: translateX(-52%) scale(1.8);
            }
        }
        &_3{
            @include vp.image-position(vp.$yellow);
            grid-area: 1 / 3/ span 4/ span 1;
            align-self: center;
            img{
                top: 10%;
                transform: translateX(-73%) scale(1.6);
            }
          
        }
        &_4{
            @include vp.image-position(vp.$pink);
            grid-area: 4 / 1 / span 1 / span 1;
            height: 14rem;
            img{
                top: -70%;
                transform: translateX(-48%) scale(1.9);
            }
        }
        &_5{
            @include vp.image-position(vp.$orange);
            grid-area: 2 / 2 / span 3 / span 1;
            img{
                top: 27%;
            }
        }
       
    }

}