@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 @use "../abstracts/" as vp;


html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;//para convertir la base en 10px (por defecto los navegadores tiene en 16px)
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: vp.$gray;
  text-decoration: none;  
}

