@use '../abstracts' as vp;

/**
 * Basic typography style for copy text
 */
body {
  font-family: vp.$font-primary;
  font-size: 1.6rem;
  color:vp.$gray;
  background-color: vp.$black;
  position: relative;
  min-height: 100vh;
 
}
