@use '../abstracts' as vp;

/**
 * Basic typography style for copy text
 */
body {
  font-family: vp.$font-primary;
  font-size: 1.6rem;
  color:vp.$gray;
  background-color: vp.$black;
  position: relative;
  min-height: 100vh;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: -200px;
    width: 350px;
    height: 350px;
    z-index: -1;
    border:1px solid rgba(vp.$gray-light, 0.25) ;
    border-radius: 50%;
  }
}
